html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
  background-color: #000;
  color: white;
  font-family: "Gotham SSm A", "Gotham SSm B", "Gotham HTF";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


section {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.direction {
  color: #666;
  font-size: 0.75em;
  font-weight: 400;
}
.time-block {
  min-width: 4em;
  padding: 0.5em;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.key {
  font-size: 0.75em;
}
.value {
  font-family: "Tungsten A", "Tungsten B", "Tungsten";
  font-style: normal;
  font-weight: 200;
  font-size: 5em;
  line-height: 1;
}

@media screen and (min-width: 32em) {
  .time-block {
    font-size: 1.5em;
  }
}
